---
import AppBrainhub from '../AppBrainhub';

export const prerender = false;

const title = 'Brainhub Pioneers | Let the jobs come to YOU';
const description = 'Filipino nurses, sign up today and let global nursing opportunities find you. Join COLPUNO and start your journey toward your dream career.';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="icon" type="image/svg+xml" href="https://www.colpuno.com/favicon.ico">
    <meta name="robots" content="noindex, nofollow" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="root">
      <AppBrainhub client:only="react" />
    </div>
  </body>
</html>

