---
import AppLanding from '../AppLanding';

export const prerender = false;

const title = 'COLPUNO | Experienced nurses';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    <link rel="icon" type="image/svg+xml" href="https://www.colpuno.com/favicon.ico">
    <meta name="robots" content="noindex, nofollow" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Magra:wght@400;700&family=Open+Sans:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="root">
      <AppLanding client:only="react" variant="singapore" />
    </div>
  </body>
</html>
